{{ define "main" }}

<h1>Members!</h1>
<!-- <h2 class="center"><a href="/">Home sweet home</a></h2> -->
<div>
	<hr>
	<!-- Dynamically places sites from /data/members.json-->
	{{with resources.Get "members.json" | transform.Unmarshal}}
		{{range .sites}}
	
	<div class="center member-item">
		<a href={{.url}} ><img src={{.button_url}}></a>
		<br> 
		<p>{{.description}} - {{.name}}</p>
		<button onclick="location.href='{{.url}}'">Visit!</button>
	</div>
	<hr>
	
		{{end}}
	{{else}}
		<!--could not find file-->
		<p>Uh oh members file missing!</p>
	{{end}}
</div>

{{.Content}}

<h2 class="center"><a href="/">Home sweet home</a></h2>
<p>Github: <a href="https://github.com/Fireye04/Game-Devs-Together">https://github.com/Fireye04/Game-Devs-Together</a></p>
{{ end }}
